.container-fluid{
    background-image: url('src/assets/moo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 107px 0px;
    margin-bottom: 120px;
}
.container-fluid h1
    {
        color: #000;
        font-size: 50px;
        font-weight: 700;
        text-transform: capitalize;
        font-family: "Playfair Display", serif;
        text-align: center;
    }
/* -------- */
.container-fluid-2{
    padding: 150px 0;
    text-align: center;
}
.container-fluid-2 h1{
    font-size: 40px;
    font-family: "Playfair Display", serif;
    color: #0b1c39;
    margin-top: 0px;
    font-style: normal;
    font-weight: 500;
}
.container-fluid-2 p{
    font-family: "Poppins", sans-serif;
    color: #506172;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal;
    margin: 40px 0;

}
.btn1{
    border: 1px solid #2577FD;
    color: #2577FD;
    padding: 15px;
    border-radius: 4px;
    outline: none;
    margin-top: 25px;
    background: transparent;
    margin-left: 45px;
}

.btn1:hover{
 background-color:#2577FD ;
 color:#fff;
 outline: none;
}
.coon .boo{
    background-color: transparent;
    color: black;
    border: 1px solid #828BB2;
    padding: 8px 13px;
}
.lol1{
    background-color: #828BB2;
    padding: 12px;
    color: #fff;
}
span:not(.lol1){
    color:#828BB2;
}
.lol{
    margin-right: 12px;
}
.lol2{
    margin-left: 12px;
}
/* ------- */
.container-fluid-3{
    background-color: #191D34;
    color: #fff;
    padding: 180px 0;
    text-align: center;
}
.container-fluid-3 h2{
    font-family: "Playfair Display", serif;
}
.container-fluid-3 p{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
}
.con{
    position: relative;
}
.con input{
    outline: none;
    border: 1px solid #fff;
    padding: 15px;
    border-radius: 38px;
    width: 50%;
    background-color: transparent;
    color: #fff;
}
.con button{
    position: absolute;
    right: 282px;
    border: 1px solid #2577FD;
    outline: none;
    padding: 10px 35px;
    border-radius: 38px;
    background-color: #2577FD;
    color: #fff;
    top: 5px;
}
.con button:hover{
    background-color: #fff;
    color: #2577FD;
    border-color: #2577FD;
}
@media(max-width: 767px) {
    .btn{
        margin-left: 30px;
    }
    .container-fluid-6 p{
        font-size: 15px;
    }
    .con button{
        position: relative;
        right: 0;
    }
}
@media(min-width: 768px) and (max-width: 991px) {
    .btn{
        margin-left: 30px;
    }
    .container-fluid-6 p{
        font-size: 15px;
    }
    .con button{
        right: 178px;
    }
} 
@media (min-width: 992px) and (max-width: 1999px){ 
    .con button{
        right: 238px;
    }
}
@media (min-width:1200px){
    .con button{
        right: 282px;
    }
}