<div class="container-fluid">
    <div class="container">
        <h1>About</h1>
    </div>
</div>
<!--  -->
<div class="container-fluid-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9">
                <h5>Our Mission</h5>
                <h3>Donec imperdiet congue orci consequat mattis. Donec rutrum <br> porttitor sollicitudin. Pellentesque
                    id dolor
                    tempor sapien feugiat <br> ultrices nec sed neque.</h3>
                <div class="video">
                    <img src="assets/video.png">
                    <a href="https://youtu.be/DWHB6nTyKDI" data-toggle="modal" data-target="#exampleModal">
                        <div class="span-video">
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <iframe width="900" height="506" src="https://www.youtube.com/embed/DWHB6nTyKDI" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ---- -->
<div class="container-fluid-2">
    <div class="container">
        <div class="row r1">
            <div class="col-md-6">
                <h3>Credibly innovate granular
                    internal or organic sources
                    whereas standards.</h3>
            </div>
            <div class="col-md-6">
                <p>Seamlessly empower fully researched growth strategies and interoperable internal or “organic”
                    sources. Credibly innovate granular internal or “organic” sources whereas high standards in
                    web-readiness.</p>
            </div>
        </div>
        <div class="row r2">
            <div class="col-md-3">
                <div class="mr-2">
                    <img src="assets/ss1.svg" alt="">
                    <br>Credit Card Support
                </div>
            </div>
            <div class="col-md-3">
                <div class="mr-2">
                    <img src="assets/ss2.svg" alt="">
                    <br>Online Order
                </div>
            </div>
            <div class="col-md-3">
                <div class="mr-2">
                    <img src="assets/ss3.svg" alt="">
                    <br>Free Delivery
                </div>
            </div>
            <div class="col-md-3">
                <div class="mr-2">
                    <img src="assets/ss4.svg" alt="">
                    <br>Product with Gift
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ----slider--- -->
<div class="container-fluid-4">
    <app-cursor></app-cursor>
</div>
<!-- --------- -->
<div class="container-fluid-3">
    <div class="container">
        <h2>Get promotions & updates!</h2>
        <p>Seamlessly empower fully researched growth strategies and interoperable internal or <br> “organic” sources
            credibly innovate granular internal .</p>
            <div class="con">
                <input type="email" placeholder="Enter Your Email" >
                <button type="submit" value="submit">Subscribe</button>
            </div>
    </div>
</div>