<div class="container-fluid" id="col">
    <div class="container">
        <h1>login</h1>
    </div>
</div>
<!--  -->
<div class="container-fluid-1">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="cono">
                    <h2>New to our Shop? </h2>
                    <p>There are advances being made in science and <br> technology everyday, and a good example of this
                        is <br> the</p>
                    <a href="#" class="btn">CREATE AN ACCOUNT</a>
                </div>
            </div>
            <!--  -->
            <div class="col-md-6">
                <div class="cono1">
                    <h2>Welcome Back ! <br>
                        Please Sign in now</h2>
                    <form action="get">
                        <div class="form-group">
                            <input type="text" placeholder="Username" name="" id=""> <br>
                            <input type="password" placeholder="Password" name="" id="">
                        </div>
                        <div class="checko">
                            <input type="checkbox" name="" id="re">
                            <label for="re">Remember me</label>
                        </div>
                        <div class="buttons">
                            <div class="nope"><a href="#" class="btn fi">LOG IN</a></div>
                            <div class="ok"> <a href="#" class="btn ho">Forget Password?</a></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>