<div class="container-fluid" id="col">
    <div class="container">
        <h1>Single Blog</h1>
    </div>
</div>
<!-- -------- -->
<div class="container-fluid-1">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <img class="card-img-top" src="assets/b1.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Second divided from form fish beast made every of seas all gathered <br>
                            us
                            saying he our
                        </h5>
                        <ul>
                            <li class="li1">
                                <a class="a2" href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a>
                            </li>
                            <li class="li2">
                                <a class="a3" href="#"><i class="fa fa-comments"></i> 03 Comments</a>
                            </li>
                        </ul>
                        <a class="aa" href="">
                            <h5 class="j">15</h5>
                            <span>Jan</span>
                        </a>
                    </div>
                    <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why you
                        should have to spend money on boot camp when you can get the MCSE study materials yourself at a
                        fraction of the camp price. However, who has the willpower</p>

                    <p> MCSE boot camps have its supporters and its detractors. Some people do not understand why you
                        should have to spend money on boot camp when you can get the MCSE study materials yourself at a
                        fraction of the camp price. However, who has the willpower to actually sit through a
                        self-imposed MCSE training. who has the willpower to actually</p>
                </div>
                <!--  -->
                <div class="div1">
                    <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why you
                        should have to spend money on boot camp when you can get the MCSE study materials yourself at a
                        fraction of the camp price. However, who has the willpower to actually sit through a
                        self-imposed MCSE training.</p>
                </div>
                <div class="div2">
                    <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why you
                        should have to spend money on boot camp when you can get the MCSE study materials yourself at a
                        fraction of the camp price. However, who has the willpower</p>

                    <p> MCSE boot camps have its supporters and its detractors. Some people do not understand why you
                        should have to spend money on boot camp when you can get the MCSE study materials yourself at a
                        fraction of the camp price. However, who has the willpower to actually sit through a
                        self-imposed MCSE training. who has the willpower to actually</p>
                </div>
                <!--  -->
                <div class="left">
                    <p> &#10084; Lily and 4 people like this</p>

                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1" href="#">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1" href="#">
                                <i class="fa fa-facebook" aria-hidden="true"></i>

                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1" href="#">
                                <i class="fa fa-behance" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1" href="#">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="right">
                    <div class="media">
                        <a href="">
                            <img class="mr-3 j" src="assets/c.png" alt="Generic placeholder image"></a>
                        <div class="media-body">
                            Prev Post <br>
                            <a href="">Space The Final Frontier</a>
                        </div>
                    </div>
                    <div class="media2">
                        <div class="media-body">
                            Next Post <br>
                            <a href="">Telescopes 101</a>
                        </div>
                        <a href=""> <img class="mr-3 jj" src="assets/c.png" alt="Generic placeholder image"> </a>
                    </div>
                    <!-- hover of image -->
                    <div class="hov">
                        <a href=""><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                    </div>
                    <div class="hov1">
                        <a href=""><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                    <!-- ---- -->
                </div>
                <div class="bf">
                    <div class="media">
                        <img class="mr-3" src="assets/ho1.png" alt="Generic placeholder image">
                        <div class="media-body">
                            <h5 class="mt-0"><a href="#">Harvard milan</a></h5>
                            Second divided from form fish beast made. Every of seas all gathered use saying you're, he
                            our dominion twon Second divided from
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="allrep">
                    <h4>05 Comments</h4>
                    <div class="media">
                        <img class="mr-3" src="assets/ho2.png" alt="Generic placeholder image">
                        <div class="media-body">
                            Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                            Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                            <span>December 4, 2017 at 3:12 pm </span>
                            <a href="#">REPLY</a>
                        </div>
                    </div>

                    <div class="media">
                        <img class="mr-3" src="assets/ho3.png" alt="Generic placeholder image">
                        <div class="media-body">
                            Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                            Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                            <span>December 4, 2017 at 3:12 pm </span>
                            <a href="#">REPLY</a>
                        </div>
                    </div>

                    <div class="media">
                        <img class="mr-3" src="assets/ho4.png" alt="Generic placeholder image">
                        <div class="media-body">
                            Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                            Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                            <span>December 4, 2017 at 3:12 pm </span>
                            <a href="#">REPLY</a>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="form">
                    <p>Leave a Reply</p>
                    <form action="">
                        <textarea placeholder=" Write Comment " name="" id="" cols="80" rows="10"></textarea>
                        <ul>
                            <li>
                                <input type="text" placeholder="Name" name="" id="">
                            </li>
                            <li>
                                <input type="email" placeholder="Email" name="" id="">
                            </li>
                        </ul>
                        <button class="btnn">SEND MESSAGE </button>
                    </form>
                </div>
                <!--  -->
            </div>
            <div class="col-md-4">
                <div class="all">
                    <div class="form-box f-right ">
                        <input type="text" name="Search" placeholder="Search products">
                        <div class="search-icon">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </div>
                    </div>
                    <button class="btn">Search</button>
                </div>
                <div class="all">
                    <h4>Category</h4>
                    <div class="link">
                        <a href="">Resaurant food(37)</a>
                    </div>
                    <div class="link">
                        <a href="">Travel news(10)</a>
                    </div>
                    <div class="link">
                        <a href="">Modern technology(03)</a>
                    </div>
                    <div class="link">
                        <a href="">Product(11)</a>
                    </div>
                    <div class="link">
                        <a href="">Inspiration21</a>
                    </div>
                    <div class="link1">
                        <a href="">Health Care (21)09</a>
                    </div>
                </div>
                <div class="all1">
                    <h4>Recent Post</h4>
                    <div class="linkk">
                        <div class="media">
                            <img class="mr-3" src="assets/m1.png" alt="Generic placeholder image">
                            <div class="media-body">
                                <a href="">From life was you fish...</a><br>
                                January 12, 2019
                            </div>
                        </div>
                        <div class="media">
                            <img class="mr-3" src="assets/m2.png" alt="Generic placeholder image">
                            <div class="media-body">
                                <a href="">The Amazing Hubble</a><br>
                                02 Hours ago
                            </div>
                        </div>
                        <div class="media">
                            <img class="mr-3" src="assets/m3.png" alt="Generic placeholder image">
                            <div class="media-body">
                                <a href="">Astronomy Or Astrology</a><br>
                                03 Hours ago
                            </div>
                        </div>
                        <div class="media">
                            <img class="mr-3" src="assets/m4.png" alt="Generic placeholder image">
                            <div class="media-body">
                                <a href="">Asteroids telescope</a><br>
                                01 Hours ago
                            </div>
                        </div>
                    </div>
                </div>
                <div class="all2">
                    <h4>Tag Clouds</h4>
                    <div class="hh">
                        <a href="">project</a>
                        <a href="">love</a>
                        <a href="">technology</a></div> <br>
                    <div class="hh">
                        <a href="">Travel</a>
                        <a href="">Resaurant</a> </div><br>
                    <div class="hh">
                        <a href="">Lifestyle</a>
                        <a href="">design</a> </div><br>
                    <div class="hh">
                        <a href="">illustration</a>
                    </div>
                </div>
                <div class="all3">
                    <h4>Tag Clouds</h4>
                    <div class="hhh">
                        <a href=""><img src="assets/s1.png" alt=""></a>
                        <a href=""><img src="assets/s2.png" alt=""></a>
                        <a href=""><img src="assets/s3.png" alt=""></a></div> <br>
                    <div class="hhh">
                        <a href=""><img src="assets/s4.png" alt=""></a>
                        <a href=""><img src="assets/s5.png" alt=""></a>
                        <a href=""><img src="assets/s6.png" alt=""></a></div><br>
                </div>
            </div>
        </div>
    </div>
</div>