<div class="container-fluid" id="col">
    <div class="container">
        <h1>Blog</h1>
    </div>
</div>
<!-- ---------------- -->
<div class="container-fluid-1">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card" *ngFor="let item of items">
                    <img class="card-img-top" [src]="item.img" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><a href="/blog" class="a1">Google inks pact for new 35-storey office</a>
                        </h5>
                        <p class="card-text">That dominion stars lights dominion divide years for fourth have don't
                            stars is that he earth it first without heaven in place seed it second morning saying.</p>
                        <ul>
                            <li class="li1">
                                <a class="a2" href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a>
                            </li>
                            <li class="li2">
                                <a class="a3" href="#"><i class="fa fa-comments"></i> 03 Comments</a>
                            </li>
                        </ul>
                        <a class="aa" href="">
                            <h5 class="j">15</h5>
                            <span>Jan</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="all">
                    <div class="form-box f-right ">
                        <input type="text" name="Search" placeholder="Search products">
                        <div class="search-icon">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </div>
                    </div>
                    <button class="btn">Search</button>
                </div>
                <div class="all">
                    <h4>Category</h4>
                    <div class="link">
                        <a href="">Resaurant food(37)</a>
                    </div>
                    <div class="link">
                        <a href="">Travel news(10)</a>
                    </div>
                    <div class="link">
                        <a href="">Modern technology(03)</a>
                    </div>
                    <div class="link">
                        <a href="">Product(11)</a>
                    </div>
                    <div class="link">
                        <a href="">Inspiration21</a>
                    </div>
                    <div class="link1">
                        <a href="">Health Care (21)09</a>
                    </div>
                </div>
                <div class="all1">
                    <h4>Recent Post</h4>
                    <div class="linkk">
                        <div class="media">
                            <img class="mr-3" src="assets/m1.png" alt="Generic placeholder image">
                            <div class="media-body">
                                <a href="">From life was you fish...</a><br>
                                January 12, 2019
                            </div>
                        </div>
                        <div class="media">
                            <img class="mr-3" src="assets/m2.png" alt="Generic placeholder image">
                            <div class="media-body">
                                <a href="">The Amazing Hubble</a><br>
                                02 Hours ago
                            </div>
                        </div>
                        <div class="media">
                            <img class="mr-3" src="assets/m3.png" alt="Generic placeholder image">
                            <div class="media-body">
                                <a href="">Astronomy Or Astrology</a><br>
                                03 Hours ago
                            </div>
                        </div>
                        <div class="media">
                            <img class="mr-3" src="assets/m4.png" alt="Generic placeholder image">
                            <div class="media-body">
                                <a href="">Asteroids telescope</a><br>
                                01 Hours ago
                            </div>
                        </div>
                    </div>
                </div>
                <div class="all2">
                    <h4>Tag Clouds</h4>
                    <div class="hh">
                        <a href="">project</a>
                        <a href="">love</a>
                        <a href="">technology</a></div> <br>
                    <div class="hh">
                        <a href="">Travel</a>
                        <a href="">Resaurant</a> </div><br>
                    <div class="hh">
                        <a href="">Lifestyle</a>
                        <a href="">design</a> </div><br>
                    <div class="hh">
                        <a href="">illustration</a>
                    </div>
                </div>
                <div class="all3">
                    <h4>Tag Clouds</h4>
                    <div class="hhh">
                        <a href=""><img src="assets/s1.png" alt=""></a>
                        <a href=""><img src="assets/s2.png" alt=""></a>
                        <a href=""><img src="assets/s3.png" alt=""></a></div> <br>
                    <div class="hhh">
                        <a href=""><img src="assets/s4.png" alt=""></a>
                        <a href=""><img src="assets/s5.png" alt=""></a>
                        <a href=""><img src="assets/s6.png" alt=""></a></div><br>
                </div>
            </div>
        </div>
        <ul class="pagination">
            <li class="page-item">
                <a href="#" class="page-link" aria-label="Previous">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </a>
            </li>
            <li class="page-item">
                <a href="#" class="page-link">1</a>
            </li>
            <li class="page-item active">
                <a href="#" class="page-link">2</a>
            </li>
            <li class="page-item">
                <a href="#" class="page-link" aria-label="Next">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</div>